.login-page{
    height: 100vh;
    width: 100vw;
}
.login-container {
    display: flex;
    justify-content: center;
    border-radius: 100px;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #667eea, #764ba2)z;
}

.login-box {
    width: 400px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-top: 3px solid rgba(35, 141, 184, 0.872);
}

.login-logo b {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.login-logo span {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
}

.login-logo::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #dbdcdddc;
    margin: 10px auto;
    border-radius: 2px;
}

.login-card-body {
    padding: 20px;
}

.input-group-text {
    background-color: #ddd;
    border: none;
}

.btn-primary {
    background-color: #4A90E2;
    border: none;
}

.btn-primary:hover {
    background-color: #357ABD;
}

.input-group-append{
    background-color: rgb(206, 207, 204);
    border-radius: 7px;
}
.custom-swal-toast {
    border-radius: 10px !important;
    box-shadow: 0 0 10px rgba(0,0,0,0.4) !important;
    font-size: 14px !important;
  }
  