.content-wrapper {
    min-height: 100vh !important;
    min-width: calc(100% - 250px) !important;
}
.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
    border-radius: 8px !important;
}

.alert {
    padding: 5px;
    font-size: 14px;
}

.text-danger {
    color: #dc3545 !important;
}

.text-success {
    color: #28a745 !important;
}

.input-group select {
    max-width: 30%;
}
body.dark-mode .alert{
    background-color: #343a40 !important;
    font-size: 14px !important;
    border-color: #434254 !important;
}
 
  @media (max-width: 768px) {
    .content-wrapper {
      margin-left: 0 !important;
      width: 100% !important;
    }
  }
  